body{background-color: lightblue;}
*{box-sizing:  border-box;}
.colorContainer{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


#btnColor{background-color: grey; color: purple; padding: 0.5em; margin: 5em 30%; width:40%; border-radius: 5px;}


/* ex 9 */
.divColor{display: inline-block;}
.divColor{width: 30%;margin-left: 2%; border: inset 10px; height: 100px}

.divContainer{display:inline-block; width: 100%; float: left; margin-bottom: 2em;}



/* ex 11 */
.display9{
    position: fixed; right: 0%; top: 50%;
    padding: 3em; background-color: rgba(10,10,10,0.9); width: 50%; color: white;
}


/* ex 12 */
html{scroll-behavior: smooth;}
.toTop{
    position: fixed; bottom:10%; right: 10%;
    width:60px; height:60px; border-radius:50%;
    background-color: rgba(20,20,20,0.9);
    text-align: center;
}

.toTop a{
    color: white;
    text-decoration:none;
}

.toTop:hover{
    box-shadow: 0px 0px  5px 2px black;
    opacity: 0.8;
}


























